.#{$b}-animate {

    @at-root .#{$b}-spin {
        @include animation(#{$b}-spin 2s infinite linear);
    }
    @include keyframes(#{$b}-spin) {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(359deg);
        }
    }

    &-input {
        transition: width 0.4s ease-in-out;

        &:focus {
            width: 100%!important;
        }
    }
}

.#{$b}-main,
#main {
    transition: margin-left .4s;
}