// Media Queries 
$bp-xl: "(max-width: 1205px)";

$large: "(min-width: 993px)";
$bp-lg: "(max-width: 992px)";

$bp-md: "(max-width: 768px)";

$small: "(min-width: 601px)";
$bp-sm: "(max-width: 600px)";


